<div class='info' id='api_info'>
  <div class="info_title">Swagger UI for Roboconf's REST API</div>
</div>
<div class='container' id='resources_container'>
  <div class='authorize-wrapper'></div>

  <ul id='resources'></ul>

  <div class="footer">
    <h4>[ <span style="font-variant: small-caps">base url</span>: {{basePath}} ]</h4>
    {{#if info.version}}
  	<h4>[ <span style="font-variant: small-caps" data-sw-translate>api version</span>: {{info.version}} ]</h4>
    {{/if}}
    {{#if validatorUrl}}
    <span style="float:right"><a target="_blank" href="{{validatorUrl}}/debug?url={{url}}"><img id="validator" src="{{validatorUrl}}?url={{url}}"></a>
    </span>
    {{/if}}
    </h4>
    </div>
</div>
